<!DOCTYPE html>
<html ng-app="WS_APP">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dropwizard Websockets Example</title>
    <link rel="stylesheet" href="page.css"/>

</head>
<body ng-controller="WS_CTRL" class="ng-cloak">
    <div id="message" class="message"></div>

    <label >Message:</label>
    <input type="text" ng-model="msg" />
    <button id="sendBtn" ng-click="send()">send</button>
    <button id="disconnectBtn">Disconnect</button>
    <input type="text" ng-model="time" disabled/>

    <table>
        <thead>
            <tr>
                <th>ip</th>
                <th>session</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in slist">
                <td>{{item.ip}}</td>
                <td>{{item.session}}</td>
            </tr>
        </tbody>
    </table>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <script src="js/ng.js"></script>
</body>
</html>