<!DOCTYPE html>
<html ng-app="WS_APP">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dropwizard Websockets Example</title>
    <link rel="stylesheet" href="page.css"/>

</head>
<body ng-controller="WS_CTRL" class="ng-cloak">
    <!--<ul>-->
        <!--<li ng-repeat="m in message">{{m}}</li>-->
    <!--</ul>-->
    <div id="message" class="message">
        <!--<p ng-repeat="m in message">{{m}}</p>-->
    </div>

    <!--<label for="msg">Message:</label>-->
    <input type="text" ng-model="msg" />
    <!--<button id="loginBtn" ng-click="login()">login</button>-->
    <button id="sendBtn" ng-click="send()">send</button>
    <button id="disconnectBtn">Disconnect</button>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <!--<script src="components/ng-websocket/ng-websocket.js"></script>-->
    <!--<script src="js/ng.js"></script>-->
    <script>
        var app = angular.module("WS_APP", []);
        app.controller("WS_CTRL", ["$scope", function($scope){

            $scope.message = [];

            var conn = new WebSocket("ws://192.168.100.121:8080/ws/");

            conn.onclose = function(e){
                $scope.$apply(function(){
                    $scope.message.push("DISCONNECTED");
                })
            }

            conn.onopen = function(e){
                $scope.$apply(function(){
                    $scope.message.push("CONNECTED");
                })
            }

            conn.onmessage = function(e){
                $scope.$apply(function(){
                    var element1 = angular.element("<p>"+e.data+"</p>");
                    <!--$scope.message.push(e.data);-->
                    $("#message").prepend(element1);
                })
            }

            $scope.send = function(e){
                conn.send($scope.msg);
            }
        }]);

    </script>
</body>
</html>